@import "fonts/Roboto-Regular/fonts.css"; // font-family: 'Roboto-Regular';
@import "fonts/Roboto-Light/fonts.css"; //  font-family: 'Roboto-Light';
@import "fonts/ProximaNova-Regular/fonts.css"; // font-family: 'ProximaNova-Regular';
@import "fonts/ProximaNova-Black/fonts.css"; // font-family: 'ProximaNova-Black';
@import "fonts/ProximaNova-Bold/fonts.css"; // font-family: 'ProximaNova-Bold';
@import "fonts/ProximaNova-Light/fonts.css"; // font-family: 'ProximaNova-Light';
@import "fonts/ProximaNova-LightIt/fonts.css";

$almost-black: #313131;
$purple: #341690;
$purple-light: #5326d3;
$pink: #f73d53;
$almost-white: #f4f2f2;


$font-Roboto-regular: 'Roboto-Regular';
$font-Roboto-light: 'Roboto-Light';

$font-ProximaNova-light: 'ProximaNova-Light';
$font-ProximaNova-regular: 'ProximaNova-Regular';
$font-ProximaNova-black: 'ProximaNova-Black';
$font-ProximaNova-bold: 'ProximaNova-Bold';
$font-ProximaNova-light-it: 'ProximaNova-LightIt';