@import url(fonts/Roboto-Regular/fonts.css);
@import url(fonts/Roboto-Light/fonts.css);
@import url(fonts/ProximaNova-Regular/fonts.css);
@import url(fonts/ProximaNova-Black/fonts.css);
@import url(fonts/ProximaNova-Bold/fonts.css);
@import url(fonts/ProximaNova-Light/fonts.css);
@import url(fonts/ProximaNova-LightIt/fonts.css);
.mob-header {
  width: 100%;
  margin-left: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999999999;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  transition: .25s;
  background: rgba(0, 0, 0, 0.7); }
  .mob-header .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 1.4em;
    font-family: "ProximaNova-Bold"; }
  .mob-header .logo {
    color: white;
    margin-top: 20px;
    margin-left: 20px; }
    .mob-header .logo a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white; }
      .mob-header .logo a .img-logo img {
        height: 60px;
        margin-right: 8px; }
      .mob-header .logo a .text-logo .top {
        text-transform: uppercase;
        font-size: .9em;
        margin-bottom: 5px;
        font-family: "ProximaNova-Bold"; }
      .mob-header .logo a .text-logo .bottom {
        font-size: .8em;
        color: white;
        font-family: "ProximaNova-LightIt"; }
  .mob-header .menu {
    width: 100%; }
    .mob-header .menu ul {
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: stretch;
      padding: 0;
      margin-top: 15px;
      text-align: center; }
      .mob-header .menu ul li {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.1em; }
        .mob-header .menu ul li a {
          width: 100%;
          color: white;
          display: block;
          text-align: center;
          text-decoration: none; }

.HeadOpen {
  margin-left: 0; }
